.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.rood{
    background-color: red;
    color: white;
}

.groen{
    background-color: green;
    color: white;
}

.blauw{
    background-color: blue;
    color: white;
}



.grid2{
    display: grid;
    grid-template-columns: auto auto;
    width: 150px;
    height: 100px;
    grid-gap: 0.2em;
}

.rood2{
    display: flex;
    grid-row: 1 / span 2 ;
    background-color: rgb(255, 128, 128);
    color: white;
    align-items: center;
    justify-content: center;
    
}

.groen2{
    background-color: rgb(133, 224, 133);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.blauw2{
    background-color: rgb(153, 179, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
